/**
 * Featured Articles
 */

 .single-feature {
 	header img {
 		.pull-right;
 		.border-top-radius(5px);
 		.border-bottom-radius(5px);

 		margin: 0 @padding-large-horizontal @padding-base-vertical @padding-base-horizontal;

 	}
 }

// Extra-small styles
.feature-excerpt {
	padding: @padding-large-vertical*3 @padding-small-horizontal;
	clear: both;

	img {
		width: 30%;
		float:left;
		padding-right: @padding-base-horizontal;
	}

	.excerpt-text {
		width: 70%;
		float:right;
	}
}


// Small styles

@media (min-width: @screen-sm-min) {

	.feature-excerpt {
		.pull-left;

		clear: none;
		padding: @padding-large-vertical*2 @padding-large-horizontal;
		width: percentage((3 / @grid-columns));

		img {
			display: inline-block;
			float:none;
			width: 100%;

			padding-right: @padding-base-horizontal;
		}

		.excerpt-text {
			width: auto;
			float:none;
		}
	}

	.features-3 .feature-excerpt { width: percentage((4 / @grid-columns)); }
	.features-2 .feature-excerpt { width: percentage((6 / @grid-columns)); }
	.features-1 .feature-excerpt {
		width: percentage((12 / @grid-columns));
		padding: @padding-large-vertical*3 @padding-small-horizontal;
		clear: both;

		img {
			width: 30%;
			float:left;
			padding-right: @padding-base-horizontal;
		}

		.excerpt-text {
			width: 70%;
			float:right;
		}
	}
}

// Medium styles
@media (min-width: @screen-md-min) {

}

// Large styles
@media (min-width: @screen-lg-min) {

}


