/**
 * Styles for On Our Terms
 *
 * Built off of Bootstrap v. 3
 *
 */


/**
 * Basic layout
 */

 body {
 	background: @athenaCenter;
 	font-weight: @font-weight-base;

 	& > .container {
 		background: @white;
 		.box-shadow(0px 0px 7px rgba(0,0,0,0.9));

 		#masthead {
 			h1 {
 				text-align: center;
 			}
 		}

 		#main {
 			header {
 				padding-bottom: @padding-base-vertical;

 				h1, h2, h3, h4, h5, h6 {
 					margin-bottom: 0;
 					&:first-child {
 						margin-top: 0;
 					}
 				}


 				time {
 					font-size: @byline-font-size;
 					font-weight: @byline-font-weight;
 				}
 			}

 			#primary {
 				padding: 0 @padding-large-horizontal @padding-large-vertical;
 			}
 			#secondary {
 				padding: 0 0 @padding-large-horizontal @padding-large-vertical;

 				h1 {
 					font-size: @aside-font-size-h1;
 				}

 				h4, ul li a {
 					font-family: @font-family-base;
 					font-size: @font-size-base;
 					font-weight: @font-weight-base;

 					padding-bottom: @padding-small-vertical;
 					margin:0;
 				}

 				.widget {
 					background: @aside-bg;
 					font-size: @aside-font-size-base;
 					margin-bottom: @padding-base-vertical;

 					h1 {
 						margin-top: 0;
 					}

 				}
 			}
 		}

 		#footer {
 			padding: @padding-large-vertical @padding-large-horizontal;
 			margin-bottom: @padding-large-horizontal;

 			font-size: @aside-font-size-base;

 			hr {
 				margin-bottom: @padding-large-vertical;
 			}
 		}
 	}

 	code {
 		white-space: pre-wrap;
 	}

 	.byline {
 		font-size: @byline-font-size;
 		font-style: @byline-font-style;
 		font-weight: @byline-font-weight;

 		&:before {
 			content: "by ";
 		}
 	}
 	.navbar-default {
 		background: @navbar-default-bg;
 		.border-top-radius(0px);
 		.border-bottom-radius(0px);
 	}
 }

 .navbar-toggle {
 	border-color: @navbar-inverse-toggle-border-color;
 	
 	#gradient > .vertical(@start-color: @studentPrograms; @end-color: darken(@studentPrograms, 12%));
 	.transition(2s background left);

 	&:hover,
 	&:focus {
 		#gradient > .vertical(@start-color: lighten(@studentPrograms, 8%); @end-color: darken(@studentPrograms, 12%));

 	}
 	.icon-bar {
 		background-color: @navbar-inverse-toggle-icon-bar-bg;
 	}
 }

/**
 * Small Screens
 * Columns, offsets, pushes, and pulls for the small device range, from phones
 * to tablets.
 */
 @media (min-width: @screen-sm-min) {



 }

 /** 
 * Medium grid
 *
 * Columns, offsets, pushes, and pulls for the desktop device range.
 */

 @media (min-width: @screen-md-min) {

 	body {
 		background: @athenaCenter;

 		& > .container {
 			background: @white;

 			#main {
 				#primary {
 					float: left;
 					width: percentage((8 / @grid-columns));
 				}
 				#secondary {
 					float: right;
 					width: percentage((4 / @grid-columns));

 					.widget {
 						.border-left-radius(6px);
 						.box-shadow(-1px 2px 2px rgba(0, 0, 0, 0.37));

 						padding: @padding-large-vertical @padding-large-horizontal;

 					}
 				}
 			}
 		}
 	}

 }
/**
 * Large grid
 *
 * Columns, offsets, pushes, and pulls for the large desktop device range.
 */
 @media (min-width: @screen-lg-min) {



 }