/**
 * Styles for On Our Terms
 *
 * Built off of Bootstrap v. 3
 *
 */


// Get palettes
@import "../palettes/palette-on-our-terms.less";

// Get Twitter Bootstrap
@import "../bootstrap/bootstrap.less";

// Get Site Styles
@import "layout-standard.less";
@import "layout-header-full-width.less";

// Hacky

.excerpt.pull-left.span2 {
	width: 24%;

	padding: 0 @padding-small-horizontal;
}

.clearfix {
	clear: both;
}

.panel-group { 

	.panel-default > .panel-heading + .panel-collapse .panel-body {
		border-top: none;
	}
	.panel {
		padding-bottom: 0;
	}

	.panel-heading {
		margin-bottom: 0;
	}
}

.widget {
	.chromeless {
		padding: 0
	}
}